body{
	background-image: Virabhadra-Temple-Lepakshi.jpg
}

header {background-color: Blue;}

nav li{
 
 display: inline;
 text-align: center;
 margin-right: 50px;
 
 }
 .navigation{
 	background:Orange;
 }

li a{text-decoration: none;
	color:black;
	word-spacing: 5px;
	font-family:sans-serif;
	font-size: 15px;
	font-style: italic; 


}
li a:hover{
  color:Blue;
  text-decoration: underline;
}

h1{ 
float:left;
}
